pillow>=11.3.0
pygame>=2.6.1
mkdocs                  # Documentation framework
mkdocs-material         # Theme for mkdocs
mkdocstrings            # Support for docstrings
mkdocstrings-python     # Python support for mkdocstrings